<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>Login Form</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href='{% static "person/assets/css/main.css" %}' />
  </head>
  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <h1 style="margin-top:-300px; ">Sign Up Form</h1>
      <p>
        Economy does not lie in sparing money,<br />
        but in spending it wisely.
      </p>
    </header>

      <form method="post" action="http://127.0.0.1:8000/settings/">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >Log in!</button>
  </form>

    <footer id="footer">
      <ul class="icons">
        <li>
          <a href="#" class="icon fa-twitter"
            ><span class="label">Twitter</span></a
          >
        </li>
        <li>
          <a href="#" class="icon fa-instagram"
            ><span class="label">Instagram</span></a
          >
        </li>
        <li>
          <a href="#" class="icon fa-github"
            ><span class="label">GitHub</span></a
          >
        </li>
        <li>
          <a href="#" class="icon fa-envelope-o"
            ><span class="label">Email</span></a
          >
        </li>
      </ul>
      <ul class="copyright">
        <li>&copy;Copyright <b>eManager</b></li>
      </ul>
    </footer>

    <!-- Scripts -->
    <script src='{% static "person/assets/js/main.js" %}'></script>
  </body>
</html>
